body {
  font-family: 'Comfortaa', cursive !important;
  font-weight: 400 !important;
}

::-webkit-scrollbar {
  width: .25rem;
}

::-webkit-scrollbar-thumb {
  background: #9b9b9b;
}

#app {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 100vh;
}

.site-loader {
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
}

.main {
  padding-top: 70px;
}