body {
  font-family: 'Comfortaa', cursive !important;
  font-weight: 400 !important;
}

::-webkit-scrollbar {
  width: .25rem;
}

::-webkit-scrollbar-thumb {
  background: #9b9b9b;
}

#app {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 100vh;
}

.site-loader {
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
}

.main {
  padding-top: 70px;
}

.logo-svg svg {
  height: 46px;
  width: auto;
}

.wp-block-group.row .wp-block-group__inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.wp-block-image img {
  height: auto;
}

.list-reset {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.page-contact .wpcf7-form,
.page-contact .wp-block-spacer {
  display: none;
}

.navbar .nav-link {
  opacity: 0.8;
}

.navbar .nav-link.active {
  opacity: 1;
}