body {
  font-family: 'Josefin Sans', sans-serif !important;
  font-weight: 400 !important;
}

#app {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 100vh;
}

.site-loader {
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
}

.main {
  padding-top: 70px;
}